body{
  margin:0;
  max-width:414;
  background-image:url(https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat:no-repeat;
  background-origin: center;
  background-size:cover;
}
.banner{
  position: fixed;
}
.sections{
  margin-left:27%;
  margin-right:2%;
  padding-top:0;
  background-color: #637077!important;
  border-radius:.5rem;
  width:71%;
  
}
.sections h1{
  background-color:#d7e2e8;
  margin-top:0;
  margin-bottom:2%; 
  border-radius:.5rem;
  color:#637077; 
}
.skill{
  margin-right:2%!important;
}
.skillItems{
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 10px;
  justify-items:center;
  
}
.box {
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 100px;
    justify-content: center;
}

.box > img {
    width: 100%;
}

.main-pic{
    margin-top:15%;
}
.main-name{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5%;
  margin-top:5%;
  color:white;

}
.socialicon{
  background-color: white;
  margin:9px;
  width:20%;
}

.job-title{
  color:white;
  margin-top:0;
}
.project img{
  width:120px;
  height:120px;
  margin-top:15%;
}
.br-pill{
  margin-top:2%;
  font-size: 25px!important;
}
.summary{
  padding:1em;
}
@media screen and (max-width: 767px){
  .banner{
    background-color:#000411!important;
    position:static!important;
    width:100%!important;
    height:80%!important;
  }
  .sections{
    margin:0;
    width:100% !important;
  }
  .title{
    margin-top:0;
  }
  #project{
    
  }
}